:root {
  --dark-background: #121212;
  --dark-surface: #222222;
  --dark-primary: #bb86fc;
  --dark-secondary: #03dac6;
  --dark-on-primary: #000000;
  --dark-on-surface: #ffffff;
  --dark-on-background: #ffffff;
}

body.dark-mode {
  background-color: var(--dark-background);
  color: var(--dark-on-background);
}

.dark-mode .site {
  color: var(--dark-on-background);
}

.dark-mode a {
  color: var(--dark-primary);
}

.dark-mode a:hover {
  color: var(--dark-secondary);
}

.dark-mode a:visited {
  color: #9d74e2;
}

.dark-mode .title a {
  color: #f00;
}

.dark-mode .title a:hover {
  color: #fff;
}

.dark-mode .header a.extra {
  color: #777;
}

.dark-mode .header a.extra:hover {
  color: #fff;
}

.dark-mode .meta {
  color: #777;
}

.dark-mode .footer {
  color: #999;
  border-top-color: #333;
}

.dark-mode .footer .contact a {
  color: #a0a5e1;
}

.dark-mode .post pre {
  border-color: #444;
  background-color: #2a2a2a;
}

.dark-mode .post code {
  border-color: #444;
  background-color: #2a2a2a;
}

.dark-mode .post pre.terminal {
  border-color: #fff;
  background-color: #111;
  color: #eee;
}

.dark-mode .post pre.terminal code {
  background-color: #111;
}

/* Custom styles for dark-mode */
.dark-mode .raised {
    background: #2a2a2a;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.dark-mode .navbar-inner {
    background-color: #222;
    background-image: none;
    border-color: #333;
}

.dark-mode .navbar .brand {
    color: #fff;
}

.dark-mode .navbar .nav > li > a {
    color: #ccc;
}
