---
layout: page
header : The DarkNet! Ah, no. Nothing to see here, move along.
title: HTTP/1.1 404 Not Found
---
{% include JB/setup %}
<p class="subtitle">There's nothing more heart-breaking than a broken link...</p>
<hr>
<p>Want to start over at <a href="/">home</a>?</p>
<p>Or maybe read one of the latest posts?
<ul>
{% for post in site.posts limit:5 %} 
<li>  
		   <span>{{ post.date | date_to_string }}</span> &raquo;  
		   <a href="{{ BASE_PATH }}{{ post.url }}">  
		   {{ post.title }}</a>  
</li>  
{% endfor %}  
</ul>
</p>