body {
  font-size: 16px;
}

.subtitle{ 
  font-size: 110%;
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 135%;
}
h3 {
  font-size: 125%;
}
h4, h5, h6 {
  font-size: 115%;
}

.navbar li {
}

.navbar .nav_right {
  float: right; 
}
  
.navbar .nav_left {
  float: left; 
}

.container-narrow {
  margin-left: 0;
  margin-right: 0;
  padding: 0 var(--space-2);
  max-width: 100%;
}

.rotated {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    -webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}

/*card*/
.raised {
	border-radius: var(--card-radius);
	border: 1px solid var(--color-border);
	background: var(--color-surface);
	box-shadow: var(--shadow-soft);
}

.bio-photo {
  -webkit-border-radius: 2pt;
  -moz-border-radius: 2pt;
  border-radius: 2pt;
  margin: 4pt;
  
  padding: 2pt 2pt 6pt 2pt;
  
  border-style:solid;
  border-width:1px;
  border-color:black;
}

.sharing-buttons {
	text-align: center;
	margin: var(--space-2) var(--space-1);
}

.bio-extra {
  margin-top: 8pt;
}
