body {
  font-size: medium;
}
.subtitle{
  font-size: 120%;
}

h1 {
  font-size: 250%;
}
h2 {
  font-size: 175%;
}
h3 {
  font-size: 140%;
}
h4, h5, h6 {
  font-size: 120%;
}

p {
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* Custom container */
.container-narrow {
  max-width: 600pt;
}

.navbar li {
	display:inline;
	margin: 5pt;
}

.navbar .nav_right {
  float: right;
}

.navbar .nav_left {
  float: left;
}

.rotated {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

/*card*/
.raised {
	margin: 0pt 0pt 24pt 0pt;
	padding: 8pt 8pt 8pt 8pt;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5),0 1px 4px rgba(0,0,0,0.3),0 0 60px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5),0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5),0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}

.bio-photo {
  -webkit-border-radius: 2pt;
  -moz-border-radius: 2pt;
  border-radius: 2pt;
  margin: 24pt;
  padding: 4pt 4pt 10pt 4pt;
}

.sharing-buttons {
	text-align: right;
	margin: 8pt 16pt 8pt 16pt;
}

.bio-extra {
  margin-top: 60pt;
}
