body {
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  height:100%;
  line-height: normal;
}

.skip-link {
  position: absolute;
  top: -9999px;
  left: -9999px;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 10000;
  text-decoration: none;
  font-weight: bold;
}

.skip-link:focus {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

.date {
  font-size: 75%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quattrocento', serif;
}

h1, .headline{
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

h1, .subtitle{
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.post-properties li {
  margin-left: 0em;
  padding-left: 0em;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 0.2em;
}

h3, h4, h5, h6 {
  margin-bottom: 0.1em;
}

p {
  text-align: justify;
}

li {
  margin-left: 2em;
  padding-left: 0.2em;
  line-height: normal;
}

code {
  font-family: Monaco, monospace;
  font-size: 80%;
  margin: 0.15em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
}

.container-narrow > hr {
  margin: 10pt 0;
}

.navbar ul {
	padding-top: 10px;
	list-style-type: none;
}

.posts {
	list-style-type: none;
	margin: 0pt 0pt 0pt 0pt;
}

.posts h2 {
  text-align: center;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 5pt 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 10pt;
  font-weight: bold;
}

/* tag_box */
.tag_box {
  list-style: none;
  overflow: hidden;
  float: left;
  width: 50%;
  margin-top: -1em;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 1pt 2pt;
  margin: 1pt;
  font-size: 0.8em;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.4em;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

.bio ul{
  list-style: none;
}

.feeds {
  text-align: center;
}

.sharing-buttons ul {
	list-style-type: none;
}

.sharing-buttons li {
	display:inline;
	margin-left: 6pt;
}

.strikethrough {
  text-decoration: line-through;
}


a.dark-light-mode-toggle {
  background-image:url("/assets/themes/twitter/img/dark_mode_24px.png");
  display: inline-block;
  text-decoration: none;
  width: 24px;
  height: 24px;
}

.icon-menny {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.icon-menny::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dark-mode-toggle-icon::before {
  background-image: url("/assets/themes/twitter/img/dark_mode_24px.png");
}

.share-icon::before {
  background-image: url("/assets/themes/twitter/img/share_24px_light.png");
}

.rss-icon::before {
  background-image: url("/assets/themes/twitter/img/rss_feed_24px_light.svg");
}

.categories-icon::before {
  background-image: url("/assets/themes/twitter/img/categories_24px_light.svg");
}

.tags-icon::before {
  background-image: url("/assets/themes/twitter/img/tag_24px_light.svg");
}

.hacker-news-icon::before {
  background-image: url("/assets/themes/twitter/img/hacker_news_24px_light.svg");
}

.twitter-icon::before {
  background-image: url("/assets/themes/twitter/img/twitter-3-logo-svgrepo-com.svg");
}

.threads-icon::before {
  background-image: url("/assets/themes/twitter/img/threads-logo-black-01.png");
}

.copy-clipboard-icon::before {
  background-image: url("/assets/themes/twitter/img/content_copy_24px_light.svg");
}

/* Copy Code Button */
.copy-code-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  opacity: 0.5;
  transition: opacity 0.2s, background-color 0.2s;
}

.copy-code-button:hover, .copy-code-button:focus {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.copy-code-button .copy-clipboard-icon::before {
  width: 18px;
  height: 18px;
}

.copy-code-button.copied::after {
  content: "Copied!";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  margin-right: 8px;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

/* Header Anchors */
.header-anchor {
  margin-left: 10px;
  text-decoration: none;
  color: #777;
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 0.8em;
  vertical-align: middle;
}

.content h2:hover .header-anchor,
.content h3:hover .header-anchor,
.content h4:hover .header-anchor,
.content h5:hover .header-anchor,
.content h6:hover .header-anchor,
.header-anchor:focus {
  opacity: 1;
}
