<article itemscope itemtype="http://schema.org/BlogPosting">
	<div class="page-header raised">
	  <div class="date">
		<span><span itemprop="datePublished">{{ page.date | date_to_long_string }}</span>,&nbsp;<span itemprop="author" itemscope itemtype="http://schema.org/Person"><i>By&nbsp;<span itemprop="name">{{site.author.name}}</span></i></span></span>
	  </div>
	  <h1 itemprop="headline">{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
	  <div class="post-properties" itemprop="keywords">
	  {% unless page.categories == empty %}
		<ul class="tag_box inline">
		  <li><i class="icon-menny categories-icon"></i></li>
		  {% assign categories_list = page.categories %}
		  {% include JB/categories_list %}
		</ul>
	  {% endunless %}  

	  {% unless page.tags == empty %}
		<ul class="tag_box inline">
		  <li><i class="icon-menny tags-icon"></i></li>
		  {% assign tags_list = page.tags %}
		  {% include JB/tags_list %}
		</ul>
	  {% endunless %}  
	  </div>
	</div>

	<div class="row-fluid post-full">
	  <div class="span12">
		<div class="content" itemprop="articleBody">
		  {{ content }}
		</div>
	
		<!-- sharing is fun, it is good for you, you should try it out -->
		<div class="sharing-buttons">
			<ul>
			<!-- twitter sharing -->
				<li>
					<!-- Twitter Tweet Button: http://twitter.com/goodies/tweetbutton -->
					<a href="https://twitter.com/share" class="icon-menny twitter-icon" data-count="vertical" data-via="mennyed">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</li>
			<!-- Hacker News -->
				<li>
					<a href="https://news.ycombinator.com/submit" class="icon-menny hacker-news-icon">Vote on HN</a>
					<script>
					(function(d, t) {
						var g = d.createElement(t),
						s = d.getElementsByTagName(t)[0];
						g.src = '//hnbutton.appspot.com/static/hn.min.js';
						s.parentNode.insertBefore(g, s);
					}(document, 'script'));
					</script>
				</li>
			<!-- Threads -->
				<li>
					<a href="https://www.threads.net/share?url={{ site.production_url }}{{ page.url }}&text={{ page.title | url_encode }}" target="_blank" class="icon-menny threads-icon">Share on Threads</a>
				</li>
			<!-- Copy Link -->
				<li>
					<a href="#" role="button" aria-label="Copy link to clipboard" class="icon-menny copy-clipboard-icon js-copy-link">Copy Link</a>
				</li>
			</ul>
			<script src="{{ ASSET_PATH }}/js/share-interactions.js"></script>
		</div>
		<!-- I dont want pagination at the moment
		<hr>
	
		<div class="pagination">
		  <ul>
		  {% if page.previous %}
			<li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
		  {% else %}
			<li class="prev disabled"><a>&larr; Previous</a></li>
		  {% endif %}
			<li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
		  {% if page.next %}
			<li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
		  {% else %}
			<li class="next disabled"><a>Next &rarr;</a>
		  {% endif %}
		  </ul>
		</div>
		-->
	
		<hr>
		{% include JB/comments %}
	
		<hr>
		<footer>
		  <p>&copy; <span itemprop="copyrightYear">{{ site.time | date: '%Y' }}</span> <span itemprop="copyrightHolder">{{ site.author.name }}</span>
			  with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
			  and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
		  </p>
		</footer>
	  </div>
	</div>
</article>
